@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Laurie Veltra - Illustratrice</h1>
    <h2>Bienvenue sur mon site ! </h2>
    <p>Petit texte de présentation lorem ipsum lorem ispum </p>
</div>


